.tooltip-content {
    display: none;
    position: fixed;
    top: 0;
    right: 20px;
    width: 400px;
    background-color: black;
    color: white;
}

.icon:hover + .tooltip-content {
    display: block;
}

.tooltip .icon {
    position: fixed;
    top: 0;
    right: 0;
}